@using ErpProject.Models
@model AdditionalDetails

@section Styles
{
    <link rel="stylesheet" href="~/CSS/update.css" asp-append-version="true">
}

@{
    int id = Convert.ToInt32(ViewData["Id"]);
}

<div>
    <form asp-action="Update" asp-route-id="@id" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    
        <table>
            <tbody>
                <tr>
                    <td><label>Emergency Numbers:</label></td>
                    <td>
                        <input type="text" asp-for="@Model.EmergencyNumbers">
                        <span asp-validation-for="@Model.EmergencyNumbers"></span>
                    </td>
                </tr>

                <tr>
                    <td><label>Education:</label></td>
                    <td>
                        <input type="text" asp-for="@Model.Education">
                        <span asp-validation-for="@Model.Education"></span>
                    </td>
                </tr>

                <tr>
                    <td><label>Certifications:</label></td>
                    <td>
                        <input type="file" asp-for="@Model.CertificationFile" accept="application/pdf">
                        <span asp-validation-for="@Model.CertificationFile"></span>
                    </td>
                </tr>

                <tr>
                    <td><label>Personal Documents:</label></td>
                    <td>
                        <input type="file" asp-for="@Model.PersonalDocumentsFile" accept="application/pdf">
                        <span asp-validation-for="@Model.PersonalDocumentsFile"></span>
                    </td>
                </tr>

                <tr>
                    <td><button type="submit">Save</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>