@using Employees.RazorComponents.EmployeeComponents
@using Employees.Shared.CustomEndpoints
@using Employees.Domain

@model DetailsModel 

@section Styles
{
    <link rel="stylesheet" href="~/css/update.css" asp-append-version="true">
}

<div style="text-align: left; margin-left: 0; padding-left: 20px; margin-top: -20px;">

    <h3>Details</h3>
    <div id="employeeDetailsContainer" style="margin-top: -30px;">
        <component type="typeof(GetMainDetails)" render-mode="ServerPrerendered" param-Id="@Model.Id"/>
    </div>

    <h3>Role</h3>
    <div id="rolesContainer" style="margin-top: -30px;"></div>
    
    <h3>Additional Details</h3>
    <div id="additionalDetailsContainer" style="margin-top: -30px;">
        <form method="post" asp-action="" asp-controller="AdditionalDetails" asp-route-id="@Model.Id">
            @Html.AntiForgeryToken()

        </form>
    </div>

    <h3>Employment Details</h3>
    <div id="employmentDetailsContainer" style="margin-top: -30px"></div>
    
    <h3>Identifications</h3>
    <div id="identificationsDetailsContainer" style="margin-top: -30px"></div>
    
    <div>
        <a href="@Endpoints.Employees.Delete.Replace("{id}", Model.Id.ToString())">Delete</a>
    </div>
</div>

<div>
    <img src="@Endpoints.Files.GetPhoto.Replace("{id}", Model.Id.ToString())" style="max-width: 400px; max-height: 400px; padding-left: 30px; padding-top: 43px">
</div>


<script>window.Id = @Model.Id</script>
@* <script src="~/js/AdditionalDetails.js"></script>
<script src="~/js/EmploymentDetails.js"></script>
<script src="~/js/Identifications.js"></script>
<script src="~/js/MainDetails.js"></script>
<script src="~/js/Photo.js"></script>
<script src="~/js/Roles.js"></script> *@