@using Employees.Contracts.EmployeeContracts
@model ResponseEmployee.Get

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">


<form id="employee-update">
    @Html.AntiForgeryToken()
    <table>
        <tbody>
            <tr>
                <td><b>First Name:</b></td>
                <td>@Model.FirstName</td>
            </tr>

            <tr>
                <td><b>Last Name:</b></td>
                <td>@Model.LastName</td>
            </tr>

            <tr>
                <td><b>Email:</b></td>
                <td>
                    <input type="text" name="Email"">
                </td>
            </tr>

            <tr>
                <td><b>Age:</b></td>
                <td>@Model.Age</td>
            </tr>

            <tr>
                <td><b>Date of Birth:</b></td>
                <td>@Model.DateOfBirth.ToString("dd-MM-yyyy")</td>
            </tr>

            <tr>
                <td><b>Nationality:</b></td>
                <td>
                    <input type="text" name="Nationality"">
                </td>
            </tr>

            <tr>
                <td><b>Gender:</b></td>
                <td>@Model.Gender</td>
            </tr>

            <tr>
                <td><b>Phone Number:</b></td>
                <td>
                    <input type="text" name="PhoneNumber">
                </td>
            </tr>

            <tr>
                <td><button type="submit">Save</button></td>
                <td><a id="CancelMDForm" href="#">Cancel</a></td>
            </tr>
        </tbody>
    </table>
</form>