@using System.Security.Claims
@using ErpProject.Models
@model EmploymentDetails

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

@if(ViewBag.Breach is not null)
{
    <h1>@ViewBag.Breach</h1>
}

<table>
    <tbody>
        <tr>
            <td><b>Positions:</b></td>
            <td>@Model.Position</td>
        </tr>

        <tr>
            <td><b>Department:</b></td>
            <td>@Model.Department</td>
        </tr>

        <tr>
            <td><b>Employment Status:</b></td>
            <td>@Model.EmploymentStatus</td>
        </tr>

        <tr>
            <td><b>Hire Date:</b></td>
            <td>@Model.HireDate.ToString("dd-MM-yyyy")</td>
        </tr>

        <tr>
            <td><b>Contract Type:</b></td>
            <td>@Model.ContractType</td>
        </tr>

        <tr>
            <td><b>Work Location</b></td>
            <td>@Model.WorkLocation</td>
        </tr>

        @if(User.Identity!.IsAuthenticated && (User.FindFirst(ClaimTypes.Role)?.Value == "Admin" || User.FindFirst(ClaimTypes.Role)?.Value == "Manager"))
        {
            <tr>
                @if (string.IsNullOrEmpty(Model.Position))
                {
                    <td><a id="EdRegistrationForm" href="#">Add Details</a> </td>
                }
                else
                {
                    <td><a id="EdEditForm" href="#">Edit</a></td>
                }
            </tr>
        }
    </tbody>
</table>