@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,charset initial-scale=1.0">
        <link rel="icon" type="imgae/png" href="~/images/erp.png">
        <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/btn-as-link.css" asp-append-version="true">
        @RenderSection("Styles", required: false)
        <title>@ViewData["Title"] - Enterpise Resource Planning</title>
    </head>
    <body>
        <header>
             <div class="navbar">
                <div class="navbar">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @if(User.Identity?.IsAuthenticated == true && ((ClaimsIdentity)User.Identity).Claims.Any())
                    {
                        <li>
                            <b>
                                <a asp-action="Details" asp-controller="Employees" asp-route-id="@Convert.ToInt32(@User.FindFirst("UserId")?.Value)">
                                    @User.FindFirst(ClaimTypes.GivenName)?.Value @User.FindFirst(ClaimTypes.Surname)?.Value
                                </a>
                            </b>
                        </li>

                        if(User.FindFirst(ClaimTypes.Role)?.Value != "Employee")
                        {
                            <li>
                                <a asp-action="Index" asp-controller="Employees">Employees</a>
                            </li>
                        }

                        <li>
                            <form method="post" asp-action="LogOut" asp-controller="LogIn" asp-route-id="@User.FindFirst("UserId")?.Value">
                                @Html.AntiForgeryToken()
                                
                                <button class="btn-as-link" type="submit">Log out</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </header>

        <main class="container">
            @RenderBody()
        </main>

        <footer>
            All rights reserved
        </footer>
    </body>
</html>