@using ErpProject.Models
@model Employee

@section Styles
{
    <link rel="stylesheet" href="~/CSS/update.css" asp-append-version="true">
}

<div>
    <form method="post" asp-action="Register" asp-controller="Employee" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    
    <table>
        <tbody>
            <tr>
                <td><label>First Name</label></td>
                <td>
                    <input type="text" asp-for="@Model.FirstName">
                    <span asp-validation-for="@Model.FirstName"></span>
                </td>
            </tr>

            <tr>
                <td><label>Last Name</label></td>
                <td>
                    <input type="text" asp-for="@Model.LastName">
                    <span asp-validation-for="@Model.LastName"></span>
                </td>
            </tr>

            <tr>
                <td><label>Email</label></td>
                <td>
                    <input type="email" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email"></span>
                </td>
            </tr>

            <tr>
                <td><label>Date of Birth</label></td>
                <td>
                    <input type="date" asp-for="@Model.DateOfBirth" value="" min="1960-01-01" max="2100-12-31">
                    <span asp-validation-for="@Model.DateOfBirth"></span>
                </td>
            </tr>

            <tr>
                <td><label>Nationality</label></td>
                <td>
                    <input type="text" asp-for="@Model.Nationality">
                    <span asp-validation-for="@Model.Nationality"></span>
                </td>
            </tr>

            <tr>
                <td><label>Gender</label></td>
                <td>
                    <input type="text" asp-for="@Model.Gender">
                    <span asp-validation-for="@Model.Gender"></span>
                </td>
            </tr>

            <tr>
                <td><label>Phone Number</label></td>
                <td><input type="text" asp-for="@Model.PhoneNumber">
                <span asp-validation-for="@Model.PhoneNumber"></span>
            </tr>

            <tr>
                <td><label>Profile Photo</label></td>
                <td><input type="file" asp-for="@Model.PhotoFile" id="ProfileImage" accept="image/*"></td>
            </tr>
        </tbody>
    </table>

    <div style="display: flex; justify-content: center; padding-top: 30px;">
        <button type="submit">Next</button>
    </div>
    
    </form>
</div>