@using ErpProject.Models.DTOModels
@model ViewModelDTO

@using(Html.BeginForm("Register", "Employee", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div>
        <ul style="list-style: none;">
            <li>
                <label>First Name</label>
                <input type="text" asp-for="@Model.Employee.FirstName">
                <span asp-validation-for="@Model.Employee.FirstName"></span>
            </li>

            <li>
                <label>Last Name</label>
                <input type="text" asp-for="@Model.Employee.LastName">
                <span asp-validation-for="@Model.Employee.LastName"></span>
            </li>

            <li>
                <label>Email</label>
                <input type="email" asp-for="@Model.Employee.Email">
                <span asp-validation-for="@Model.Employee.Email"></span>
            </li>

            <li>
                <label>Date of Birth</label>
                <input type="date" asp-for="@Model.Employee.DateOfBirth">
                <span asp-validation-for="@Model.Employee.DateOfBirth"></span>
            </li>

            <li>
                <label>Nationality</label>
                <input type="text" asp-for="@Model.Employee.Nationality">
                <span asp-validation-for="@Model.Employee.Nationality"></span>
            </li>

            <li>
                <label>Gender</label>
                <input type="text" asp-for="@Model.Employee.Gender">
                <span asp-validation-for="@Model.Employee.Gender"></span>
            </li>

            <li>
                <label>Phone Number</label>
                <input type="text" asp-for="@Model.Employee.PhoneNumber">
                <span asp-validation-for="@Model.Employee.PhoneNumber"></span>
            </li>

            <li>
                <label for="ProfileImage">Photograph</label>
                <input type="file" asp-for="@Model.ProfilePhoto" id="ProfileImage" accept="image/*">
            </li>

             <li>
                <button type="submit">Next</button>
            </li>
        </ul>
    </div>
}