@using ErpProject.Models
@model RolesList

<form asp-action="Register" asp-controller="Roles" asp-route-id="@Model.EmployeeId">
    @Html.AntiForgeryToken()
    
    <table>
        <tbody>
            <tr>
                <td>
                    <select asp-for="@Model.SelectedRoleId">
                        @foreach(Roles role in Model.List)
                        {
                            <option value="@role.Id">@role.RoleName</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.SelectedRoleId"></span>
                 </td>
            </tr>
            
            <tr>
                <td><button type="submit">Save</button></td>
                <td><a id="cancelRoleForm" href="#">Cancel</a></td>
            </tr>
        </tbody>
    </table>
</form>