@using ErpProject.Models
@model Credentials

@using(Html.BeginForm("Index", "Credentials", new { id = 44}, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <ul>
            <li>
                <label>Username</label>
                <input type="text" asp-for="@Model.Username">
                <span asp-validation-for="@Model.Username"></span>
            </li>

            <li>
                <label>Password</label>
                <input type="password" asp-for="@Model.Password">
                <span asp-validation-for="@Model.Password"></span>
            </li>

            <li>
                <label>Confirm Password</label>
                <input type="password" asp-for="@Model.ConfirmPassword">
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </li>

            <li>
                <label>Account Status</label>
                <select asp-for="@Model.AccountStatus">
                    <option value="" disabled>--Select Status--</option>
                    <option value="Active">Active</option>
                    <option value="InActive">Inactive</option>
                    <option value="Pending">Pending</option>
                    <option value="Blocked">Blocked</option>
                </select>
                <span asp-validation-for="@Model.AccountStatus"></span>
            </li>
            
            <li>
                <button type="submit">Next</button>
            </li>
        </ul>
    </div>
}