@inherits GetAllEmployeesComponent

<div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>

                <th>Last Name</th>

                <th>Email</th>

                <th>Age</th>

                <th>Nationality</th>

                <th>Gender</th>

                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @if(employeeList is not null)
            {
                @foreach (ResponseEmployee.Get employee in employeeList)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Email</td>
                        <td>@employee.Age</td>
                        <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@employee.Gender</td>
                        <td>@employee.Nationality</td>
                        <td>@employee.PhoneNumber</td>
                        <td><Nav action="Details" controller="Employees" routeId="employee.Id">Details</Nav></td>
                        <td><Nav action="Delete" controller="Employees" routeId="employee.Id">Delete</Nav></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">Loading...</td>
                </tr>
            }
        </tbody>
    </table>
</div>