@inherits BaseComponent

@if(employee is not null)
{
    switch(Mode)
    {
        case ViewMode.View:
        <table>
            <tbody>
                <tr>
                    <td><b>First Name:</b></td>
                    <td>@employee.FirstName</td>
                </tr>

                <tr>
                    <td><b>Last Name:</b></td>
                    <td>@employee.LastName</td>
                </tr>

                <tr>
                    <td><b>Email:</b></td>
                    <td>@employee.Email</td>
                </tr>

                <tr>
                    <td><b>Age:</b></td>
                    <td>@employee.Age</td>
                </tr>

                <tr>
                    <td><b>Date of Birth:</b></td>
                    <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                </tr>

                <tr>
                    <td><b>Nationality:</b></td>
                    <td>@employee.Nationality</td>
                </tr>

                <tr>
                    <td><b>Gender:</b></td>
                    <td>@employee.Gender</td>
                </tr>

                <tr>
                    <td><b>Phone Number:</b></td>
                    <td>@employee.PhoneNumber</td>
                </tr>

            
                <tr>
                    <td><a @onclick="UpdateForm">Edit</a></td>
                </tr>
            </tbody>
        </table>
        break;
        
        case ViewMode.Update:
            
        <FileForm method="post" action="Update" controller="Employees" routeId="@Id">
            <table>
                <tbody>
                    <tr>
                        <td><b>First Name:</b></td>
                        <td>@employee!.FirstName</td>
                    </tr>

                    <tr>
                        <td><b>Last Name:</b></td>
                        <td>@employee.LastName</td>
                    </tr>

                    <tr>
                        <td><b>Email:</b></td>
                        <td>
                            <input name="Email" @bind="update.Email">
                        </td>
                    </tr>

                    <tr>
                        <td><b>Age:</b></td>
                        <td>@employee.Age</td>
                    </tr>

                    <tr>
                        <td><b>Date of Birth:</b></td>
                        <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                    </tr>

                        <tr>
                        <td><b>Nationality:</b></td>
                        <td>
                            <input type="text" name="Nationality" @bind="update.Nationality">
                        </td>
                    </tr>

                    <tr>
                        <td><b>Gender:</b></td>
                        <td>@employee.Gender</td>
                    </tr>

                    <tr>
                        <td><b>Phone Number:</b></td>
                        <td>
                            <input type="text" name="PhoneNumber" @bind="update.PhoneNumber">
                        </td>
                    </tr>

                    <tr>
                        <td><button type="submit" @onclick="OnSubmit">Save</button></td>
                        <td><a @onclick="CancelForm">Cancel</a></td>
                    </tr>
                </tbody>
            </table>
        </FileForm>
        break;

        default:
            <tr>
                <td>Not data found</td>
            </tr>
        break;
    }
}
else
{
    <tr>
        <td colspan="2">Loading...</td>
    </tr>
}