@using Employees.Contracts.AdditionalDetailsContract
@model RequestAdditionalDetails.Create

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<div>
    <form asp-action="Create" asp-route-id="@Model.Id" enctype="multipart/form-data">
    
    @Html.AntiForgeryToken()
    
        <table>
            <tbody>
                <tr>
                    <td><label><b>Emergency Numbers:</b></label></td>
                    <td>
                        <input type="text" asp-for="@Model.EmergencyNumbers">
                        <span asp-validation-for="@Model.EmergencyNumbers"></span>
                    </td>
                </tr>

                <tr>
                    <td><label><b>Education:</b></label></td>
                    <td>
                        <input type="text" asp-for="@Model.Education">
                        <span asp-validation-for="@Model.Education"></span>
                    </td>
                </tr>

                <tr>
                    <td><button type="submit">Save</button></td>
                    <td><a id="CancelAdForm" href="#">Cancel</a></td>
                </tr>
                
            </tbody>
        </table>
    </form>
</div>